.home{
  width: 100vw;
  height: calc(100vh - 53px); 
  display: flex;
  background-image: url('../../assets/fish.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;

  &::before{
    content: '';
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .home-center{
    margin: auto;
    z-index: 2;
  }

  .home-title{
    font-size: 64px;
    color: white;
    font-weight: 800;
    margin: 0 0 40px;
  }

  .home-btn{
    height:52px !important;
    width:104px !important;
    font-size:36px !important;
    text-align: center;
  }
}